@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'dalse';
  src: url("../src/Font/AnyConv.com__SCDream4.woff") format('woff');;
}


body{
 
  background-color: #F4EEFF;
  font-family:"dalse";
  height:100vh;
}

.Main{
 background-color: #F4EEFF;
}
.Side{
  background-color: #A6B1E1;
  height:100vh;
   position:relative;
}

.LOGObackgroundColor{
  background-color: #A6B1E1;
  padding: 10px 5px;
  min-height:60px;
  max-height:60px;
}
.MainColor2{
  background-color: #DCD6F7;
}
.TitleWidth{
  min-width : 1000px;
  max-width : 1000px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  padding:10px; 
}


.SearchTitleWidth{
  min-width : 1330px;
  max-width : 1330px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  padding:10px; 
}

.tdWidth{
  min-width : 150px;
  max-width : 150px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  padding:10px; 
}

.postOXWidth{
  min-width : 1300px;
  max-width : 1300px;
  padding:10px; 
}

[aria-current] {
  background: #DCD6F7;
  font-weight: bold;
  cursor: revert;
  transform: revert;
  padding: 5px;;
}


